.trae
.idea
.gitignore

.logs
.tmp
.cache
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

out
build
dist
report
coverage
logs
tmp
*.log
*.lock
*.swp
*.swo
*.pyc
*.pyo
*.exe
*.exe.manifest
*.pdb
*.dll
*.so
*.dSYM
*.DS_Store
*.min.js
*.min.css
*.min.html
*.map
*.zip